body{
   background-color: lightblue;
   margin:0;
 }

#wrapperDiv{
 height: 600px;
 width: 900px;
 margin:auto;
 margin-top: 20px;
}

#tileMenuDiv{
float:right;
position: relative;
top:95px;
background-color: blue;
width: 100px;
height:500px;
}


#buttonMenuDiv{
  float:left;
  position: relative;
  bottom:500px;
  background-color: blue;
  width: 900px;
  height:100px;
}
